bases:
  - ../../helmfile-common.yaml
---
releases:
  - name: scicat-exporter
    namespace: scicat-{{ .Environment.Name }}
    chart: oci://ghcr.io/paulscherrerinstitute/dc-charts/generic-service
    version: 2.0.0
    values:
      - values.yaml
      - {{ .Environment.Name }}/values.yaml
      # Only development restricts the exporter by source range.
      {{ if eq .Environment.Name "development" }}
      - secretsJson:
          EXPORTER_WHITELIST_CIDRS: {{ .Values.secrets.EXPORTER_WHITELIST_CIDRS | quote }}
      {{ end }}
