[submodule "backend"]
	path = backend
	url = https://github.com/SciCatProject/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SciCatProject/frontend.git
[submodule "search-api"]
	path = search-api
	url = https://github.com/SciCatProject/panosc-search-api.git
[submodule "pan-ontologies-api"]
	path = pan-ontologies-api
	url = https://github.com/ExPaNDS-eu/pan-ontologies-api.git
[submodule "oaipmh"]
	path = oaipmh
	url = https://github.com/SciCatProject/oai-provider-service.git
[submodule "scicat-backend-next"]
	path = scicat-backend-next
	url = https://github.com/SciCatProject/scicat-backend-next
