[submodule "backend"]
	path = backend
	url = https://github.com/SciCatProject/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SciCatProject/frontend.git
[submodule "search-api"]
	path = search-api
	url = https://github.com/SciCatProject/panosc-search-api.git
