bases:
  - ../../helmfile-common.yaml

# Only development builds. qa and production pull the image development pushed.
environments:
  development:
    values:
      - sourceRepo: https://github.com/paulscherrerinstitute/scicat-ci
        sourceDir: scicat-to-pss
---
releases:
  - name: scicat-to-pss
    namespace: scicat-{{ .Environment.Name }}
    chart: oci://ghcr.io/paulscherrerinstitute/dc-charts/cron
    version: 1.0.0
    {{ if .Values.sourceRepo }}
    inherit:
      - template: build
    {{ end }}
    values:
      - values.yaml
      - {{ .Environment.Name }}/values.yaml
