version: "3.9"
services:

  mongodb:
    image: mongo
    volumes:
      - mongodb_data:/data/db
    profiles:
      - be
      - be_next
      - test_be_next
      - oi

  mongodb_seed:
    image: mongo
    volumes:
      - "./config/seed_db/seed:/seed"
      - "./config/seed_db/mongo_import.sh:/mnt/mongo_import.sh"
    command:
      - "sh"
      - "-c"
      - "chmod u+x /mnt/mongo_import.sh && /mnt/mongo_import.sh"
    user: "0:0"
    restart: on-failure
    profiles:
      - never

  mongodb_seed_be:
    extends: mongodb_seed
    environment:
      - DATABASE=be
    depends_on:
      - mongodb
    profiles:
      - be

  mongodb_seed_be_next:
    extends: mongodb_seed
    environment:
      - DATABASE=be_next
    depends_on:
      - mongodb
    profiles:
      - be_next

  be:
    build: ../backend/.
    depends_on:
      - mongodb
    volumes:
      - ../backend:/home/node/app
      - ../backend/CI/ESS/envfiles/settings.sample.json:/home/node/app/test/config/settings.json
      - /home/node/app/node_modules
      - ./config/backend/config.local.js:/home/node/app/server/config.local.js
      - ./config/backend/datasources.json:/home/node/app/server/datasources.json
      - ./config/backend/providers.json:/home/node/app/server/providers.json
    environment:
      NODE_ENV: development
    command: /bin/sh -c "npm ci && while true; do sleep 600; done"
    ports:
      - 3000:3000
    profiles:
      - be

  fe:
    build:
      context: ../frontend/.
      dockerfile: ../dev/config/frontend/Dockerfile
      target: installer
    volumes:
      - ../frontend:/frontend
      - ./config/frontend/config.json:/frontend/src/assets/config.json
      - /frontend/node_modules
      - /frontend/dist
    command: /bin/sh -c "while true; do sleep 600; done"
    ports:
      - 4200:4200
    profiles:
      - fe

  be_next_base: 
    build:
      context: ../scicat-backend-next/.
      target: dev
    ports:
      - 3000:3000
    volumes:
      - ../scicat-backend-next:/home/node/app
      - /home/node/app/node_modules
      - /home/node/app/dist
      - ../scicat-backend-next/functionalAccounts.json.test:/home/node/app/functionalAccounts.json
    env_file: ./config/backend_next/.env
    command: /bin/sh -c "while true; do sleep 600; done"
    profiles:
      - never 

  test_be_next:
    extends: be_next_base
    depends_on:
      - mongodb
    volumes:
      - ./config/test_backend_next/jobconfig.json:/home/node/app/test/config/jobconfig.json
    environment:
      MONGODB_URI: mongodb://mongodb:27017/test_be_next
      PID_PREFIX: "API_testing"
      ADMIN_GROUPS: "admin,adminingestor"
      DELETE_GROUPS: "archivemanager"
      CREATE_DATASET_GROUPS: group1,group2,group3
      CREATE_DATASET_WITH_PID_GROUPS: "group2"
      CREATE_DATASET_PRIVILEGED_GROUPS: "datasetingestor,group3"
      CREATE_JOB_GROUPS: group1,group2
      UPDATE_JOB_GROUPS: group1
      DELETE_JOB_GROUPS: "archivemanager"
      PROPOSAL_GROUPS: "proposalingestor"
      SAMPLE_PRIVILEGED_GROUPS: "sampleingestor"
      SAMPLE_GROUPS: "group1"
      MONGODB_COLLECTION: Dataset
      STACK_VERSION: 8.8.2
      MEM_LIMIT: 4G
      JOB_CONFIGURATION_FILE: "test/config/jobconfig.json" 
    profiles:
      - test_be_next

  be_next:
    extends: be_next_base
    depends_on:
      - mongodb
    profiles:
      - be_next

  jupyter:
    image: python:3.10
    ports:
      - 8888:8888
    volumes:
      - ../curation/requirements.txt:/requirements.txt
      - ../curation/notebooks:/notebooks
      - ./config/jupyter/.env:/.env
    command: /bin/sh -c "pip install --no-cache-dir -r requirements.txt && pip install jupyterlab && jupyter-lab --LabApp.token='' --allow-root --port=8888 --ip=0.0.0.0 --notebook-dir=/notebooks"
    profiles:
      - jupyter

  search:
    build:
      context: ../search-api/.
    volumes:
      - ../search-api:/home/node/app
      - /home/node/app/node_modules
    command: /bin/sh -c "npm ci && while true; do sleep 600; done"
    ports:
      - 3002:3000
    environment:
      NODE_ENV: development
    profiles:
      - search

  lp:
    build:
      context: ../landing-page-server/.
      target: installer
      dockerfile: ../dev/config/landing-page-server/Dockerfile
    environment:
      CHROME_BIN: /usr/bin/chromium
      CHROME_PATH: /usr/lib/chromium/
    volumes:
      - ../landing-page-server:/home/node/app
      - /home/node/app/node_modules
      - /home/node/app/dist
    command: /bin/sh -c "apt-get update && apt-get install -y chromium && while true; do sleep 600; done"
    ports:
      - 4201:4200
    user: 0:0
    profiles:
      - lp

  oi:
    build: ../oaipmh/.
    volumes:
      - ../oaipmh:/home/node/app
      - ./config/oaipmh/.env:/home/node/app/production/.env
      - /home/node/app/node_modules
      - /home/node/app/dist
    command: /bin/sh -c "npm ci && while true; do sleep 600; done"
    ports:
      - 3001:3001
    profiles:
      - oi

  pr:
    build:
      context: ../proposals/.
      target: dev
    volumes:
      - ../proposals:/usr/src/proposals
      - ./config/proposals/.env:/usr/src/proposals/.env
    # infinite loop to keep the container running
    command: /bin/sh -c "while sleep 1000; do :; done"
    profiles:
      - pr

  panet:
    build:
      context: ../pan-ontologies-api/.
    volumes:
      - ../pan-ontologies-api:/home/node/app
      - /home/node/app/node_modules
    # infinite loop to keep the container running
    command: /bin/sh -c "while sleep 1000; do :; done"
    profiles:
      - panet
    ports:
      - 3002:3000

volumes:
  mongodb_data:
    driver: local
    