replicaCount: 1

image:
  repository: "{{ .Values.ciRepository }}"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "{{ .Values.ciTag }}"

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 80

ingress:
  enabled: true
  annotations: 
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: "{{ .Values.host }}"
      paths: 
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - "{{ .Values.host }}"
      secretName: "scicat-certificate"

volumes:
  - name: config-volume
    configMap:
      name: "{{ .Release.Name }}-cm"

initialDelaySeconds: 360

configMaps: 
  "{{ .Release.Name }}-cm":
    environment.ts: "{{ .Values.ciVars.ENVIRONMENT }}"
    keycloak-icon-256px.svg: "{{ .Values.ciVars.KEYCLOAK_ICON }}"
    site.png: helm_configs/frontend/site.png
    styles.scss: "{{ .Values.ciVars.STYLES }}"
