scicatUrl: "http://backend-next.scicat-development/"
port: 8080

defaults:
  - &psiFacility
    direction: DST
    destinationPath: '/archive/{{ replace .Pid "." "-" }}/{{ .SourceFolder }}'
    accessValue: /PSI
  - &openemFacility
    direction: SRC
    accessValue: "/{{.Name}}"

facilities:
  - <<: *psiFacility
    name: PSI_DEV
    collection: deda66cc-9e42-49fc-a997-18a02abb7903
  - name: PSI_QA
    collection: 394fb902-2fcf-4ffd-ba61-98d72e29dd0e
    destinationPath: '/archive/{{ replace .Pid "." "-" }}/{{ .SourceFolder }}'
    accessValue: /PSI
    direction: BOTH
  - <<: *psiFacility
    name: PSI
    collection: 7a50c4b9-651d-4fba-a8f9-0557f1b4b7ed

  - <<: *openemFacility
    name: UNIBAS
    collection: d35e9477-400d-4069-b571-d678847373f1
  - <<: *openemFacility
    name: UNIGE
    collection: d22fab58-5f80-47f1-a9a0-da36478ca41e
  - <<: *openemFacility
    name: UNIBE
    collection: 44e61e98-8dba-43ec-a862-c1fe82ac23d6
  - <<: *openemFacility
    name: DCIL
    collection: b3807ed3-db5e-4e6f-9831-fd8d72dfff8a
