bases:
  - ../../helmfile-common.yaml
---
releases:
  # Demo server, doesn't run in production.
  - name: ingestor
    namespace: scicat-{{ .Environment.Name }}
    chart: oci://ghcr.io/paulscherrerinstitute/dc-charts/generic-service
    version: 2.0.0
    installed: {{ ne .Environment.Name "production" }}
    values:
      - values.yaml
      {{ if ne .Environment.Name "production" }}
      - {{ .Environment.Name }}/values.yaml
      {{ end }}
      {{ if eq .Environment.Name "development" }}
      - secretsJson:
          OPENEM_WHITELISTED_CIDRS: {{ .Values.secrets.OPENEM_WHITELISTED_CIDRS | quote }}
      {{ end }}
    {{ if ne .Environment.Name "production" }}
    set:
      - name: CONFIG
        file: {{ .Environment.Name }}/config.yaml
    {{ end }}
