envValue: development

host: scicat.development.psi.ch

ingress:
  annotations:
    b64/nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.secretsJson.OPENEM_WHITELISTED_IPS }}"

env:
  - name: DOI_PREFIX
    value: "10.83766"

migrateCommand: npm run migrate:db:up
