envValue: development

host: scicat.development.psi.ch

ingress:
  annotations: 
    b64/nginx.ingress.kubernetes.io/whitelist-source-range: "{{ .Values.secretsJson.OPENEM_WHITELISTED_IPS }}"

migrateCommand: npm run migrate:db:up
