replicaCount: 2

image:
  repository: "{{ .Values.ciRepository }}"
  pullPolicy: Always
  tag: "{{ .Values.ciTag }}"

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 3000
  probePath: /api/v3/health

volumes:
  - name: secrets-volume
    secret:
      secretName: "{{ .Release.Name }}-s"
  - name: config-volume
    configMap:
      name: "{{ .Release.Name }}-cm"
  - name: migrations-volume
    configMap:
      name: "{{ .Release.Name }}-migrations-cm"

configMaps:
  "{{ .Release.Name }}-cm":
    job-template.html: "{{ .Values.JOB_TEMPLATE }}"
    jobConfig.yaml: "{{ .Values.JOB_CONFIG }}"
    publishedDataConfig.json: "{{ .Values.PUBLISHED_DATA_CONFIG }}"
  "{{ .Release.Name }}-migrations-cm":
    20250819165001-rename-measurement-id.js: "{{ .Values.RENAME_MEASUREMENT_ID_JS }}"
    20260127161201-migrate-broken-legacy-history.js: "{{ .Values.MIGRATE_BROKEN_HISTORY }}"

secrets:
  "{{ .Release.Name }}-s":
    type: Opaque
    data:
      .env: "{{ .Values.secretsJson.BENEXT_ENV }}"
      functionalAccounts.json: "{{ .Values.secretsJson.BENEXT_FUNCTIONAL_ACCOUNTS }}"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
  hosts:
    - host: "{{ .Values.host }}"
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - "{{ .Values.host }}"
      secretName: "scicat-be-next-certificate"

env:
  - name: DOI_PREFIX
    value: "{{ .Values.doiPrefix }}"
  - name: REGISTER_DOI_URI
    value: "{{ .Values.registerDoiUri }}"
  - name: PID_PREFIX
    value: "20.500.11935"
  - name: SITE
    value: "PSI"
  - name: JOB_CONFIGURATION_FILE
    value: /home/node/app/jobConfig.yaml

volumeMounts:
  - name: secrets-volume
    mountPath: /home/node/app/.env
    subPath: .env
  - name: secrets-volume
    mountPath: /home/node/app/functionalAccounts.json
    subPath: functionalAccounts.json
  - name: config-volume
    mountPath: /home/node/app/jobConfig.yaml
    subPath: jobConfig.yaml
  - name: config-volume
    mountPath: /home/node/app/email-templates/job-template.html
    subPath: job-template.html
  - name: config-volume
    mountPath: /home/node/app/publishedDataConfig.json
    subPath: publishedDataConfig.json

migrateCommand: "echo 'No migration command specified.'"

jobContainers:
  - name: migrate
    image: "{{ .Values.ciRepository }}:{{ .Values.ciTag }}"
    imagePullPolicy: Always
    command:
      - "/bin/sh"
      - -c
    args:
      - >-
        npm run migrate:db:status &&
        {{ .Values.migrateCommand }} &&
        npm run migrate:db:status
    volumeMounts:
      - name: secrets-volume
        mountPath: /home/node/app/.env
        subPath: .env
      - name: migrations-volume
        mountPath: /home/node/app/migrations/20250819165001-rename-measurement-id.js
        subPath: 20250819165001-rename-measurement-id.js
      - name: migrations-volume
        mountPath: /home/node/app/migrations/20260127161201-migrate-broken-legacy-history.js
        subPath: 20260127161201-migrate-broken-legacy-history.js

