replicaCount: 2

image:
  repository: "{{ .Values.ciRepository }}"
  pullPolicy: Always
  tag: "{{ .Values.ciTag }}"

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 3000
  probePath: /api/v3/publisheddata/count

volumes:
  - name: secrets-volume
    secret:
      secretName: "{{ .Release.Name }}-s"
  - name: config-volume
    configMap:
      name: "{{ .Release.Name }}-cm"

configMaps:
  "{{ .Release.Name }}-cm":
    job-template-simplified.html: "{{ .Values.JOB_TEMPLATE_SIMPLIFIED }}"

secrets:
  "{{ .Release.Name }}-s":
    type: Opaque
    data:
      .env: "{{ .Values.secretsJson.BENEXT_ENV }}"
      functionalAccounts.json: "{{ .Values.secretsJson.BENEXT_FUNCTIONAL_ACCOUNTS }}"
      jobConfig.yaml: "{{ .Values.secretsJson.BENEXT_JOBCONFIG }}"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
  hosts:
    - host: "{{ .Values.host }}"
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - "{{ .Values.host }}"
      secretName: "scicat-be-next-certificate"

env:
  - name: DOI_PREFIX
    value: "10.16907"
  - name: PID_PREFIX
    value: "20.500.11935"
  - name: SITE
    value: "PSI"
  - name: JOB_CONFIGURATION_FILE
    value: /home/node/app/jobConfig.yaml

volumeMounts:
  - name: secrets-volume
    mountPath: /home/node/app/.env
    subPath: .env
  - name: secrets-volume
    mountPath: /home/node/app/functionalAccounts.json
    subPath: functionalAccounts.json
  - name: secrets-volume
    mountPath: /home/node/app/jobConfig.yaml
    subPath: jobConfig.yaml
  - name: config-volume
    mountPath: /home/node/app/email-templates/job-template-simplified.html
    subPath: job-template-simplified.html
