image:
  repository: ghcr.io/swissopenem/scicat-globus-proxy
  pullPolicy: Always
  tag: 0.3.0

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
  probePath: /openapi.yaml

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: "{{ .Values.host }}"
      paths:
        - path: "/"
          pathType: Prefix
  tls:
    - hosts:
      - "{{ .Values.host }}"
      secretName: "globus-proxy-certificate"

secrets:
  "{{ .Release.Name }}-s":
    type: Opaque
    data:
      .env: "{{ .Values.secretsJson.GLOBUS_PROXY_ENV }}"

configMaps:
  "{{ .Release.Name }}-cm":
    scicat-globus-proxy-conf.yaml: "{{ .Values.CONFIG }}"

volumes:
  - name: secrets-volume
    secret:
      secretName: "{{ .Release.Name }}-s"
  - name: config-volume
    configMap:
      name: "{{ .Release.Name }}-cm"

volumeMounts:
  - name: secrets-volume
    mountPath: /service/.env
    subPath: .env
  - name: config-volume
    mountPath: /service/scicat-globus-proxy-conf.yaml
    subPath: scicat-globus-proxy-conf.yaml

run:
  command:
    - /bin/sh
  args:
    - -c
    - >
      set -a;
      source /service/.env;
      set +a;
      /service/scicat_globus_proxy
