bases:
  - ../../helmfile-common.yaml
---
releases:
  - name: s3-broker
    namespace: scicat-{{ .Environment.Name }}
    chart: oci://ghcr.io/paulscherrerinstitute/dc-charts/generic-service
    version: 1.0.0
    values:
      - values.yaml
      - {{ .Environment.Name }}/values.yaml
      - secretsJson:
          JOB_MANAGER_PASSWORD: {{ .Values.secrets.JOB_MANAGER_PASSWORD | quote }}
          S3_BROKER_CREDENTIALS: {{ .Values.secrets.S3_BROKER_CREDENTIALS | quote }}
          {{- if eq .Environment.Name "development" }}
          EXPORTER_WHITELIST_IPS: {{ .Values.secrets.EXPORTER_WHITELIST_IPS | quote }}
          {{- end }}
    set:
      - name: AWS_CONFIG
        file: config
