bases:
  - ../../helmfile-common.yaml

# Only development builds. qa and production pull the image development pushed.
environments:
  development:
    values:
      - sourceRepo: https://github.com/SciCatProject/LandingPageServer
---
releases:
  - name: landing-page-server
    namespace: scicat-{{ .Environment.Name }}
    chart: oci://ghcr.io/paulscherrerinstitute/dc-charts/generic-service
    version: 2.0.0
    {{ if .Values.sourceRepo }}
    inherit:
      - template: build
    {{ end }}
    values:
      - values.yaml
      - {{ .Environment.Name }}/values.yaml
      {{ if eq .Environment.Name "development" }}
      - secretsJson:
          EXPORTER_WHITELIST_CIDRS: {{ .Values.secrets.EXPORTER_WHITELIST_CIDRS | quote }}
      {{ end }}
      {{ if eq .Environment.Name "production" }}
      - secretsJson:
          LP_GOOGLE_VERIFY: {{ .Values.secrets.LP_GOOGLE_VERIFY | quote }}
      {{ end }}
    set:
      - name: CONFIG
        file: {{ .Environment.Name }}/config.json
      - name: FAVICON
        file: favicon.ico
