name: scicat-be-next

on:
  workflow_dispatch:
    inputs:
      submodule_commit:
        description: 'Commit of the submodule to deploy'
        required: false
      commit:
        description: 'Commit of the CI repo to deploy'
        required: false
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  # release:
  #   types: [ published ]

jobs:

  set_env:
    uses: ./.github/workflows/reusable.environment.yml
    with:
      commit: ${{ github.event.inputs.commit }}
      submodule_commit: ${{ github.event.inputs.submodule_commit }}

  check_changed:
    needs: set_env
    uses: ./.github/workflows/reusable.changes.yml
    with:
      files: |
        .github/workflows/scicat-be-next.yml
        helm/configs/backend-next/${{ needs.set_env.outputs.environment }}/**
        helm/configs/backend-next/job-template.html
        helm/configs/backend-next/jobConfig.yaml
        helm/configs/backend-next/values.yaml
        scicat-backend-next/**
      commit: ${{ needs.set_env.outputs.commit }}
      submodule_commit: ${{ github.event.inputs.submodule_commit }}
      submodule: scicat-backend-next

  build_deploy_scicat_backend_next:
    if: (needs.check_changed.outputs.changed == 'true' && !needs.set_env.outputs.component) || needs.set_env.outputs.component == 'bn'
    needs:
     - check_changed
     - set_env
    uses: ./.github/workflows/reusable.build-deploy.yml
    with:
      context: scicat-backend-next/.
      image_name: ${{ github.repository }}/backend-next
      release_name: backend-next
      tag: ${{ needs.set_env.outputs.tag }}
      environment: ${{ needs.set_env.outputs.environment }}
      commit: ${{ needs.set_env.outputs.commit }}
      submodule_commit: ${{ github.event.inputs.submodule_commit }}
      submodule: scicat-backend-next
      helm_set_files: >-
        JOB_TEMPLATE=helm/configs/backend-next/job-template.html
        JOB_CONFIG=helm/configs/backend-next/jobConfig.yaml
        RENAME_MEASUREMENT_ID_JS=helm/configs/backend-next/rename-measurement-id.js
        MIGRATE_BROKEN_HISTORY=helm/configs/backend-next/migrate-broken-legacy-history.js
    secrets:
      KUBECONFIG: ${{ secrets.KUBECONFIG }}
      JSON_SECRETS: ${{ toJSON(secrets) }}
      BASTION_USER: ${{ secrets.BASTION_USER }}
      BASTION_SSH_KEY: ${{ secrets.BASTION_SSH_KEY }}
