name: scicat-search-api

on:  
  workflow_dispatch: 
    inputs:
      submodule_commit:
        description: 'Commit of the submodule to deploy'     
        required: false
      commit: 
        description: 'Commit of the CI repo to deploy'     
        required: false
  pull_request:
    branches: [ main]
  push:
    branches: [ main ]
  release:
    types: [ published ]

jobs:

  ssh:

    runs-on: ubuntu-latest
    environment: development
    steps: 
      - name: Open ssh tunnel
        uses: paulscherrerinstitute/scicat-ci/.github/actions/open-ssh-tunnel@bastion_ssh
        with: 
          bastion_user: '${{ secrets.BASTION_USER }}'
          bastion_ssh_key: '${{ secrets.BASTION_SSH_KEY }}'

  set_env: 
    needs: ssh
    uses: ./.github/workflows/reusable.environment.yml
    with: 
      commit: ${{ github.event.inputs.commit }}
      submodule_commit: ${{ github.event.inputs.submodule_commit }}

  # check_changed:
  #   needs: set_env
  #   uses: ./.github/workflows/reusable.changes.yml
  #   with: 
  #     files: | 
  #       .github/workflows/scicat-search-api.yml
  #       helm/configs/search-api/${{ needs.set_env.outputs.environment }}/**
  #       helm/configs/search-api/values.yaml
  #       search-api/**
  #     commit: ${{ needs.set_env.outputs.commit }}
  #     submodule_commit: ${{ github.event.inputs.submodule_commit }}
  #     submodule: search-api

  # build_deploy_scicat_search_api:
  #   if: (needs.check_changed.outputs.changed == 'true' && !needs.set_env.outputs.component) || needs.set_env.outputs.component == 'sa'
  #   needs: 
  #    - check_changed
  #    - set_env
  #   uses: ./.github/workflows/reusable.build-deploy.yml
  #   with: 
  #     context: search-api/.
  #     image_name: ${{ github.repository }}/search-api
  #     release_name: search-api
  #     tag: ${{ needs.set_env.outputs.tag }}
  #     environment: ${{ needs.set_env.outputs.environment }}
  #     commit: ${{ needs.set_env.outputs.commit }}
  #     submodule_commit: ${{ github.event.inputs.submodule_commit }}
  #     submodule: search-api
  #     helm_set_files: >-
  #       CONFIG=helm/configs/search-api/config.json
  #       COMPONENT_CONFIG=helm/configs/search-api/component-config.json
  #   secrets:
  #     KUBECONFIG: ${{ secrets.KUBECONFIG }}
  #     BASTION_USER: ${{ secrets.BASTION_USER }}
  #     BASTION_SSH_KEY: ${{ secrets.BASTION_SSH_KEY }}
