name: scicat-fe-next

on:
  workflow_dispatch:
    inputs:
      submodule_commit:
        description: 'Commit of the submodule to deploy'
        required: false
      commit:
        description: 'Commit of the CI repo to deploy'
        required: false
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  release:
    types: [ published ]

jobs:

  set_env:
    uses: ./.github/workflows/reusable.environment.yml
    with:
      commit: ${{ github.event.inputs.commit }}
      submodule_commit: fed4756f29c2232d4ed13a2beb2980151ba72b1f

  check_changed:
    needs: set_env
    uses: ./.github/workflows/reusable.changes.yml
    with:
      files: |
        .github/workflows/scicat-fe-next.yml
        helm/configs/frontend-next/values.yaml
        helm/configs/frontend-next/login.component.html
        helm/configs/frontend-next/${{ needs.set_env.outputs.environment }}/**
        frontend/**
      commit: ${{ needs.set_env.outputs.commit }}
      submodule_commit: fed4756f29c2232d4ed13a2beb2980151ba72b1f
      submodule: frontend

  build_deploy_scicat_fe_next:
    if: (needs.check_changed.outputs.changed == 'true' && !needs.set_env.outputs.component) || needs.set_env.outputs.component == 'fn'
    needs:
     - check_changed
     - set_env
    uses: ./.github/workflows/reusable.build-deploy.yml
    with:
      context: frontend/.
      image_name: ${{ github.repository }}/fe-next
      release_name: frontend-next
      tag: ${{ needs.set_env.outputs.tag }}
      environment: ${{ needs.set_env.outputs.environment }}
      commit: ${{ needs.set_env.outputs.commit }}
      submodule_commit: fed4756f29c2232d4ed13a2beb2980151ba72b1f
      submodule: frontend
      helm_set_files: >-
        KEYCLOAK_ICON=helm/configs/frontend-next/keycloak_icon_256px.svg
        ENVIRONMENT=helm/configs/frontend-next/${{ needs.set_env.outputs.environment }}/config.json
    secrets:
      KUBECONFIG: ${{ secrets.KUBECONFIG }}
      BASTION_USER: ${{ secrets.BASTION_USER }}
      BASTION_SSH_KEY: ${{ secrets.BASTION_SSH_KEY }}
      JSON_SECRETS: ${{ toJSON(secrets) }}
